<mat-card>
    <mat-card-title>Hola {{personDetail?.name}}!
        <button mat-stroked-button color="primary">
            <mat-icon matPrefix>edit</mat-icon>
            Editar perfil
        </button>
    </mat-card-title>
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="2" rowspan="6">
            <mat-card class="card-center">
                <mat-card-title class="text-profil">Entrenador
                    <img src="../../../assets/images/medalla.JPG" width="40px" height="40px">
                </mat-card-title>
                <img mat-card-image class="circular" [src]="personDetail?.photo? personDetail?.photo : photo">
                <mat-card-content class="card-content">
                    <p>
                        <mat-label style="font-weight: bold;">Pasatiempo: </mat-label>
                        <mat-label>{{personDetail?.hobbie}}</mat-label>
                    </p>
                    <p>
                        <mat-label style="font-weight: bold;">Edad: </mat-label>
                        <mat-label>{{personDetail?.edad}}</mat-label>
                    </p>
                    <p>
                        <ng-container *ngIf="ageMore18">
                            <mat-label style="font-weight: bold;">DUI:</mat-label>
                            <mat-label>{{personDetail?.dui}}</mat-label>
                        </ng-container>
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="9">
            <mat-card class="without-border">
                <mat-card-title>Mis Pokemon
                    <button mat-stroked-button color="primary">
                        <mat-icon matPrefix>edit</mat-icon>
                        Editar
                    </button>
                </mat-card-title>
                <mat-grid-list [cols]="1" rowHeight="250px">
                    <mat-grid-tile *ngFor="let item of data">
                        <mat-card class="card-pokemon">
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column">
                                <div>
                                    <img class="card-image-pokemon" mat-card-image [src]="item.image" [alt]="item.name"
                                        width="180px">
                                    <mat-card-content>
                                        <mat-label class="text-name">{{item.name}}</mat-label>
                                        <br>
                                        <ng-container *ngFor="let index of item.types; let i = index; ">
                                            <ng-container *ngIf="i==0">
                                                <mat-label style="padding-left: 40px;">{{index.type.name}}</mat-label>
                                            </ng-container>
                                            <ng-container *ngIf="i!=0">
                                                <mat-label>{{index.type.name}}</mat-label>
                                            </ng-container>
                                            <ng-container *ngIf="item.types.length>1 && item.types.length-1!=i">
                                                <mat-label>/</mat-label>
                                            </ng-container>
                                        </ng-container>
                                        <!--mat-grid-list [cols]="2" rowHeight="150px">
                                                <mat-grid-tile *ngFor="let stat of item.stats; let i = index;">
                                                    <mat-label>{{stat.stat.name}}</mat-label>
                                                </mat-grid-tile>
                                            </mat-grid-list-->
                                    </mat-card-content>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <ng-container *ngFor="let stat of item.stats;">
                                        <mat-label>{{stat.stat.name}}</mat-label>
                                        <!--mat-progress-bar [value]="stat.base_stat" [color]="color" [bufferValue]="100">
                                        </mat-progress-bar-->
                                    </ng-container>
                                </div>
                                <div flex="30" fxLayout="column" fxLayoutAlign="center start">
                                    <ng-container *ngFor="let stat of item.stats;">
                                        <mat-label>{{stat.base_stat}}</mat-label>
                                        <mat-progress-bar [value]="stat.base_stat" [color]="color" [bufferValue]="200">
                                        </mat-progress-bar>
                                        <!--mat-progress-bar class="example-margin" mode="determinate" [color]="color"
                                            value="stat.base_stat" [bufferValue]="100">
                                        </mat-progress-bar-->
                                    </ng-container>
                                </div>
                                <!--div>Columan3</div-->
                               
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>