:host ::ng-deep .mat-card-title {
    display: block;
    margin-bottom: 8px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
    padding-bottom: 20px;
}

:host ::ng-deep .mat-card-subtitle{
    font-size: 12px;
    font-family: sans-serif;
}

.without-border{
    box-shadow: 0px 0px 0px 0px;
    width:400px
}

.card-content{
    font-size: 12px;
    font-family: sans-serif;
    background-color: #00693c;
    color: white;
}

.card-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.383);
        border-radius: 16px;
        background: #00693c !important;
}

.text-profil {
    color: white;
}


.circular {
    border-radius: 80%;
    border: 10px solid white;
    width: 200px;
    align-self: center;
}

.card-pokemon {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
    border-radius: 30px;
    background: #f2f2f2 !important;
    width: 400px;
}

:host ::ng-deep .mat-stroked-button {
    border-color: darkblue;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

:host ::ng-deep .material-icons {
    font-size: 18px;
}

.card-image-pokemon {
    width: 130px !important;
    height: 130px;
    margin: 0 5px -16px;
    padding: 0px 5px 15px;
}

.text-name {
    font-weight: bold;
    font-size: 16px;
    padding-left: 40px;
}

.example-margin {
    margin: 0 10px;
}

:host ::ng-deep .mat-progress-bar-buffer {
    background-color: #2544e0;
}
  