:host ::ng-deep .mat-card-title {
    display: block;
    margin-bottom: 8px;
    font-family: sans-serif;
    color: darkblue;
    font-weight: bold;
}

:host ::ng-deep .mat-card-subtitle{
    font-size: 12px;
    font-family: sans-serif;
}

:host ::ng-deep .mat-card.without-border{
    box-shadow: 0px 0px 0px 0px;
}

.card-content{
    font-size: 16px;
    font-family: sans-serif;
    background-color:#3d8d6b;
    color: white;
}

.card-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.383);
        border-radius: 16px;
        background: #00693cc2!important;
        height: 450px;
        width: 300px;
        padding-top: 50px;
}


.circular {
    border-radius: 80%;
    border: 10px solid white;
    width: 200px;
    align-self: center;
}

.card-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
    border-radius: 30px;
    background: #f2f2f2 !important;
}

.card-content-pokemon {
    color: white;
    background:darkblue !important;
    font-weight: bold;
    font-size: 12px;
    border-radius: 15px;
    width: 100px !important;
}

.card-image-pokemon {
    width: 100% !important;
    margin: 0 16px -16px;
}

.card-pokemon-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
    border-radius: 30px;
    background: yellow !important;
}

.text-profil {
    color: darkblue;
    font-size: 36px;
    padding-bottom: 20px;
}